---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home page";

// Component Imports
import Counter from "../components/Counter";
import Greeting from "../components/Greeting";
const someProps = {
  count: 0,
};

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout pageTitle={pageTitle}>
  <Counter {...someProps} client:visible>
    <h1>Hello, React!</h1>
  </Counter>
  <Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]} client:load />
</BaseLayout>
